<a href="https://colab.research.google.com/github/Rahimaagha/Projects/blob/master/apartment_data(regression_problem).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving data[1].csv to data[1].csv
User uploaded file "data[1].csv" with length 526795 bytes

In [6]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving output[1].csv to output[1].csv
User uploaded file "output[1].csv" with length 526795 bytes

In [0]:
import numpy as np # linear algebra
import pandas as pd # for viewing data

In [33]:
df = pd.read_csv("data[1].csv")
df.head()

                  date      price  bedrooms  ...       city  statezip  country
0  2014-05-02 00:00:00   313000.0       3.0  ...  Shoreline  WA 98133      USA
1  2014-05-02 00:00:00  2384000.0       5.0  ...    Seattle  WA 98119      USA
2  2014-05-02 00:00:00   342000.0       3.0  ...       Kent  WA 98042      USA
3  2014-05-02 00:00:00   420000.0       3.0  ...   Bellevue  WA 98008      USA
4  2014-05-02 00:00:00   550000.0       4.0  ...    Redmond  WA 98052      USA

[5 rows x 18 columns]

In [34]:
len(df)

4600

In [35]:
df = pd.read_csv("output[1].csv")
df.head()

                  date      price  bedrooms  ...       city  statezip  country
0  2014-05-02 00:00:00   313000.0       3.0  ...  Shoreline  WA 98133      USA
1  2014-05-02 00:00:00  2384000.0       5.0  ...    Seattle  WA 98119      USA
2  2014-05-02 00:00:00   342000.0       3.0  ...       Kent  WA 98042      USA
3  2014-05-02 00:00:00   420000.0       3.0  ...   Bellevue  WA 98008      USA
4  2014-05-02 00:00:00   550000.0       4.0  ...    Redmond  WA 98052      USA

[5 rows x 18 columns]

In [36]:
len(df)

4600

In [46]:
df_price_size = df[['price','sqft_living']]
df_price_size.head()

       price  sqft_living
0   313000.0         1340
1  2384000.0         3650
2   342000.0         1930
3   420000.0         2000
4   550000.0         1940

In [0]:

from sklearn import linear_model
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
regression = linear_model.LinearRegression()

In [39]:
X = np.array(df_price_size['sqft_living']).reshape(-1, 1)
y = le.fit_transform(df_price_size['price'])
regression.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [40]:
size = 1250
print('Value: ',regression.predict(np.array(size).reshape(-1, 1)))

Value:  [551.57311223]

In [47]:
size = [900,1100,1150,2100,2510,3100]

for i in size:
    j = regression.predict(np.array(i).reshape(-1, 1))
    print('size: ',i,' Value: ',j,'\n')

size:  900  Value:  [448.2981867]

size:  1100  Value:  [507.31242986]

size:  1150  Value:  [522.06599065]

size:  2100  Value:  [802.38364565]

size:  2510  Value:  [923.36284412]

size:  3100  Value:  [1097.45486144]

In [42]:
df_price_size_bedrooms = df[['price','bedrooms','sqft_living']]
df_price_size_bedrooms.head()

       price  bedrooms  sqft_living
0   313000.0       3.0         1340
1  2384000.0       5.0         3650
2   342000.0       3.0         1930
3   420000.0       3.0         2000
4   550000.0       4.0         1940

In [43]:
X = np.array(df_price_size_bedrooms[['sqft_living','bedrooms']])
y = le.fit_transform(df_price_size_bedrooms['price'])
regressao.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [44]:
bedrooms = 2
size = 1150
print('size: ',size,', bedrooms: ',bedrooms,' , Value: ',regressao.predict(np.array([[size, bedrooms]])))

size:  1150 , bedrooms:  2  , Value:  [548.35975944]