Description :
      A bank is investigating a very high rate of customer leaving the bank. We are here to investigate which of the customers are more likely to leave the bank soon.

# Uploading Data

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Churn_Modelling[1].csv to Churn_Modelling[1].csv
User uploaded file "Churn_Modelling[1].csv" with length 684858 bytes

In [0]:
import pandas as pd
from matplotlib import pyplot as plt
#import seaborn as sns
%matplotlib inline
#sns.set(style="ticks", color_codes=True)

# View of Data

In [10]:
df = pd.read_csv("Churn_Modelling[1].csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [11]:
df = pd.read_csv("Churn_Modelling[1].csv")

df.set_index('RowNumber', inplace=True)
df.head()

           CustomerId   Surname  ...  EstimatedSalary Exited
RowNumber                        ...
1            15634602  Hargrave  ...        101348.88      1
2            15647311      Hill  ...        112542.58      0
3            15619304      Onio  ...        113931.57      1
4            15701354      Boni  ...         93826.63      0
5            15737888  Mitchell  ...         79084.10      0

[5 rows x 13 columns]

In [12]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 13 columns):
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(8), object(3)
memory usage: 1.1+ MB

# Dropped some values

In [13]:
df.drop(['CustomerId','Surname'],axis=1,inplace=True)
df.head()

           CreditScore Geography  ... EstimatedSalary  Exited
RowNumber                         ...
1                  619    France  ...       101348.88       1
2                  608     Spain  ...       112542.58       0
3                  502    France  ...       113931.57       1
4                  699    France  ...        93826.63       0
5                  850     Spain  ...        79084.10       0

[5 rows x 11 columns]

# Data Preprocessing

In [0]:
from sklearn.preprocessing import LabelEncoder
Geography_Encoder = LabelEncoder()
df['Geography'] = Geography_Encoder.fit_transform(df['Geography'])

Gender_Encoder = LabelEncoder()
df['Gender'] = Gender_Encoder.fit_transform(df['Gender'])

# Splitting the Data

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(['Exited'],axis=1), df['Exited'], test_size=0.33, random_state=42)

In [0]:
from sklearn.preprocessing import MinMaxScaler

X_train_scale = MinMaxScaler(feature_range=(0, 2))
X_train = X_train_scale.fit_transform(X_train)

X_test_scale = MinMaxScaler(feature_range=(0, 2))
X_test = X_test_scale.fit_transform(X_test)

# Building the Model

In [18]:
from keras.models import Sequential
from keras.layers import Dense, Activation

Using TensorFlow backend.

In [0]:
model = Sequential()
model.add(Dense(50,input_dim=10,activation='relu'))
model.add(Dense(20,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

# Compiling the Model

In [0]:

model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

# Fitting the Model

In [25]:
model.fit(X_train,y_train, epochs=20, batch_size=10,verbose=2, validation_split=0.2)

Train on 5360 samples, validate on 1340 samples
Epoch 1/20
 - 1s - loss: 0.4882 - acc: 0.7925 - val_loss: 0.4456 - val_acc: 0.8097
Epoch 2/20
 - 1s - loss: 0.4479 - acc: 0.8095 - val_loss: 0.4262 - val_acc: 0.8269
Epoch 3/20
 - 1s - loss: 0.4306 - acc: 0.8181 - val_loss: 0.4149 - val_acc: 0.8216
Epoch 4/20
 - 1s - loss: 0.4161 - acc: 0.8235 - val_loss: 0.4029 - val_acc: 0.8269
Epoch 5/20
 - 1s - loss: 0.4054 - acc: 0.8237 - val_loss: 0.3943 - val_acc: 0.8224
Epoch 6/20
 - 1s - loss: 0.3968 - acc: 0.8287 - val_loss: 0.3840 - val_acc: 0.8209
Epoch 7/20
 - 1s - loss: 0.3892 - acc: 0.8360 - val_loss: 0.3791 - val_acc: 0.8366
Epoch 8/20
 - 1s - loss: 0.3830 - acc: 0.8396 - val_loss: 0.3778 - val_acc: 0.8388
Epoch 9/20
 - 1s - loss: 0.3789 - acc: 0.8412 - val_loss: 0.3795 - val_acc: 0.8403
Epoch 10/20
 - 1s - loss: 0.3744 - acc: 0.8427 - val_loss: 0.3688 - val_acc: 0.8463
Epoch 11/20
 - 1s - loss: 0.3672 - acc: 0.8500 - val_loss: 0.3611 - val_acc: 0.8500
Epoch 12/20
 - 1s - loss: 0.3616 - acc: 0.8522 - val_loss: 0.3634 - val_acc: 0.8448
Epoch 13/20
 - 1s - loss: 0.3584 - acc: 0.8526 - val_loss: 0.3566 - val_acc: 0.8410
Epoch 14/20
 - 1s - loss: 0.3565 - acc: 0.8534 - val_loss: 0.3515 - val_acc: 0.8500
Epoch 15/20
 - 1s - loss: 0.3548 - acc: 0.8535 - val_loss: 0.3514 - val_acc: 0.8500
Epoch 16/20
 - 1s - loss: 0.3560 - acc: 0.8537 - val_loss: 0.3484 - val_acc: 0.8455
Epoch 17/20
 - 1s - loss: 0.3522 - acc: 0.8554 - val_loss: 0.3506 - val_acc: 0.8485
Epoch 18/20
 - 1s - loss: 0.3501 - acc: 0.8545 - val_loss: 0.3465 - val_acc: 0.8515
Epoch 19/20
 - 1s - loss: 0.3486 - acc: 0.8543 - val_loss: 0.3617 - val_acc: 0.8515
Epoch 20/20
 - 1s - loss: 0.3469 - acc: 0.8541 - val_loss: 0.3465 - val_acc: 0.8507

In [26]:

scores = model.evaluate(X_test,y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

3300/3300 [==============================] - 0s 24us/step

acc: 86.33%