Description :
      A bank is investigating a very high rate of customer leaving the bank. We are here to investigate which of the customers are more likely to leave the bank soon.

# Uploading Data

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Churn_Modelling[1].csv to Churn_Modelling[1] (2).csv
User uploaded file "Churn_Modelling[1].csv" with length 684858 bytes

In [0]:
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

# View of Data

In [0]:
df = pd.read_csv("Churn_Modelling[1].csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
df = pd.read_csv("Churn_Modelling[1].csv")

df.set_index('RowNumber', inplace=True)
df.head()

           CustomerId   Surname  ...  EstimatedSalary Exited
RowNumber                        ...
1            15634602  Hargrave  ...        101348.88      1
2            15647311      Hill  ...        112542.58      0
3            15619304      Onio  ...        113931.57      1
4            15701354      Boni  ...         93826.63      0
5            15737888  Mitchell  ...         79084.10      0

[5 rows x 13 columns]

In [0]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 13 columns):
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(8), object(3)
memory usage: 1.1+ MB

# Dropped some values

In [0]:
df.drop(['CustomerId','Surname'],axis=1,inplace=True)
df.head()

           CreditScore Geography  ... EstimatedSalary  Exited
RowNumber                         ...
1                  619    France  ...       101348.88       1
2                  608     Spain  ...       112542.58       0
3                  502    France  ...       113931.57       1
4                  699    France  ...        93826.63       0
5                  850     Spain  ...        79084.10       0

[5 rows x 11 columns]

# Data Preprocessing

In [0]:
from sklearn.preprocessing import LabelEncoder
Geography_Encoder = LabelEncoder()
df['Geography'] = Geography_Encoder.fit_transform(df['Geography'])

Gender_Encoder = LabelEncoder()
df['Gender'] = Gender_Encoder.fit_transform(df['Gender'])

# Splitting the Data

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(['Exited'],axis=1), df['Exited'], test_size=0.33, random_state=42)

In [0]:
from sklearn.preprocessing import MinMaxScaler

X_train_scale = MinMaxScaler(feature_range=(0, 2))
X_train = X_train_scale.fit_transform(X_train)

X_test_scale = MinMaxScaler(feature_range=(0, 2))
X_test = X_test_scale.fit_transform(X_test)

# Building the Model

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation

In [0]:
model = Sequential()
model.add(Dense(50,input_dim=10,activation='relu'))
model.add(Dense(20,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

# Compiling the Model

In [0]:

model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

# Fitting the Model

In [0]:
model.fit(X_train,y_train, epochs=20, batch_size=10,verbose=2, validation_split=0.2)

Train on 5360 samples, validate on 1340 samples
Epoch 1/20
 - 1s - loss: 0.4737 - acc: 0.7963 - val_loss: 0.4465 - val_acc: 0.8075
Epoch 2/20
 - 1s - loss: 0.4382 - acc: 0.8088 - val_loss: 0.4174 - val_acc: 0.8157
Epoch 3/20
 - 1s - loss: 0.4159 - acc: 0.8213 - val_loss: 0.4042 - val_acc: 0.8328
Epoch 4/20
 - 1s - loss: 0.3969 - acc: 0.8299 - val_loss: 0.3810 - val_acc: 0.8366
Epoch 5/20
 - 1s - loss: 0.3827 - acc: 0.8396 - val_loss: 0.3741 - val_acc: 0.8284
Epoch 6/20
 - 1s - loss: 0.3729 - acc: 0.8474 - val_loss: 0.3825 - val_acc: 0.8321
Epoch 7/20
 - 1s - loss: 0.3679 - acc: 0.8446 - val_loss: 0.3663 - val_acc: 0.8440
Epoch 8/20
 - 1s - loss: 0.3640 - acc: 0.8455 - val_loss: 0.3606 - val_acc: 0.8463
Epoch 9/20
 - 1s - loss: 0.3609 - acc: 0.8472 - val_loss: 0.3622 - val_acc: 0.8440
Epoch 10/20
 - 1s - loss: 0.3589 - acc: 0.8509 - val_loss: 0.3552 - val_acc: 0.8507
Epoch 11/20
 - 1s - loss: 0.3544 - acc: 0.8507 - val_loss: 0.3540 - val_acc: 0.8545
Epoch 12/20
 - 1s - loss: 0.3531 - acc: 0.8524 - val_loss: 0.3559 - val_acc: 0.8537
Epoch 13/20
 - 1s - loss: 0.3506 - acc: 0.8545 - val_loss: 0.3505 - val_acc: 0.8575
Epoch 14/20
 - 1s - loss: 0.3466 - acc: 0.8567 - val_loss: 0.3538 - val_acc: 0.8455
Epoch 15/20
 - 1s - loss: 0.3455 - acc: 0.8560 - val_loss: 0.3525 - val_acc: 0.8515
Epoch 16/20
 - 1s - loss: 0.3434 - acc: 0.8591 - val_loss: 0.3616 - val_acc: 0.8396
Epoch 17/20
 - 1s - loss: 0.3439 - acc: 0.8528 - val_loss: 0.3613 - val_acc: 0.8403
Epoch 18/20
 - 1s - loss: 0.3418 - acc: 0.8567 - val_loss: 0.3493 - val_acc: 0.8485
Epoch 19/20
 - 1s - loss: 0.3407 - acc: 0.8576 - val_loss: 0.3571 - val_acc: 0.8493
Epoch 20/20
 - 1s - loss: 0.3388 - acc: 0.8576 - val_loss: 0.3584 - val_acc: 0.8410

In [0]:

scores = model.evaluate(X_test,y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

3300/3300 [==============================] - 0s 23us/step

acc: 85.70%