<a href="https://colab.research.google.com/github/Rahimaagha/Projects/blob/master/California_house_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Uploading csv file

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving califonia_housing.csv.txt to califonia_housing.csv (2).txt
User uploaded file "califonia_housing.csv.txt" with length 1423529 bytes

# view of data

In [0]:

import pandas as pd
data = pd.read_csv("califonia_housing.csv.txt", sep=",")
data.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [0]:
len(data)

20640

In [0]:
data_num = data.drop("ocean_proximity", axis= 1)

In [0]:
df_price_size = data[['median_house_value','total_rooms']]
df_price_size.head()

   median_house_value  total_rooms
0            452600.0        880.0
1            358500.0       7099.0
2            352100.0       1467.0
3            341300.0       1274.0
4            342200.0       1627.0

# Data Preprocessing and Building model

In [0]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

from sklearn import linear_model
regression = linear_model.LinearRegression()

# Fitting the model

In [0]:
import numpy as np

X = np.array(df_price_size['total_rooms']).reshape(-1, 1)
y = le.fit_transform(df_price_size['median_house_value'])
regression.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Prediction

In [0]:
size = 1254
print('Value: ',regression.predict(np.array(size).reshape(-1, 1)))

Value:  [1500.19618997]